@page "/student/list"

<table>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>生日</th>
        <th>班级</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>